@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using WebApplication2MVCAuthO.Data
@using WebApplication2MVCAuthO.Models
@using WebApplication2MVCAuthO.Models.HomeViewModels

@model DriverModel

@inject UserManager<ApplicationUser> UserManager
@*@inject ApplicationDbContext DbContext*@

@{
    ViewData["Title"] = "Edit Info";

    //var UserId = UserManager.FindByNameAsync(User.Identity.Name).Result?.Id;
    //DriverModel Driver = DbContext.Drivers.Include(m => m.User).FirstOrDefault(m => m.User.Id == UserId);
}

<br />
<div class="page">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="title">Редактировать данные машины</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block">
            
            <div style="font-size: 20px; position: relative; top: -20px">Заполните, пожалуйста, все поля.</div>
            <div>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="form-group">
                        <label asp-for="@Model.City"></label>
                        <input asp-for="@Model.City" class="form-control"/>
                        <span asp-validation-for="@Model.City" class="text-danger"></span>
                        <br/>
                        <label asp-for="CarModel"></label>
                        <input asp-for="CarModel" class="form-control"/>
                        <span asp-validation-for="CarModel" class="text-danger"></span>
                        <br/>
                        <label asp-for="CarType"></label>
                        <input asp-for="CarType" class="form-control"/>
                        <span asp-validation-for="CarType" class="text-danger"></span>
                        <br/>
                        <label asp-for="CarYearProd"></label>
                        <input asp-for="CarYearProd" class="form-control"/>
                        <span asp-validation-for="CarYearProd" class="text-danger"></span>
                        <br/>
                        <label asp-for="CarColor"></label>
                        <input asp-for="CarColor" class="form-control"/>
                        <span asp-validation-for="CarColor" class="text-danger"></span>
                        <br/>
                        <label asp-for="CarNum"></label>
                        <input asp-for="CarNum" class="form-control"/>
                        <span asp-validation-for="CarNum" class="text-danger"></span>
                        <br/>
                        <label asp-for="DrLicense"></label>
                        <input asp-for="DrLicense" class="form-control"/>
                        <span asp-validation-for="DrLicense" class="text-danger"></span>
                        <br/>
                        <label asp-for="DrLFromDate"></label>
                        <input asp-for="DrLFromDate" class="form-control"/>
                        <span asp-validation-for="DrLFromDate" class="text-danger"></span>
                        <br/>
                        @*<a class="btn btn-info btn-default" style="padding-right: 8px" asp-action="Index" asp-route-returnUrl="@ViewBag.returnUrl">
                            Отмена
                        </a>*@
                        <button type="submit" class="btn btn-info btn-default">Сохранить</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


