@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using WebApplication2MVCAuthO.Data
@using WebApplication2MVCAuthO.Models
@using WebApplication2MVCAuthO.Models.HomeViewModels

@model ApplicationUser

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext

@{
    ViewData["Title"] = "Home Page";

    DriverModel Driver = DbContext.Drivers.Include(m => m.User).FirstOrDefault(m => m.User.Id == Model.Id);
}

<div class="tabs">
    <div id="tab1" class="tab">
        <div>
            <div class="block-title"></div>
            <div class="block" inner="">                           
                <label asp-for="PhoneNumber"></label>
                <p style="display: inline">@Model?.PhoneNumber</p> <a class="btn btn-info btn-default" style="padding-right: 8px; padding-left: 8px" asp-action="UserPhone" asp-route-returnUrl="@ViewBag.returnUrl">
                    <img src="~/images/edit3.png" alt="Изменить номер" title="Изменить номер" height="15" width="20"/>
                </a>

                <form id="form_add_client_request" method="post" novalidate="novalidate">
                    <div class="form-group">
                        <input name="ClientRequestModel.Latitude" id="ClientRequestModel.Latitude" type="hidden" value="1111111" />
                        <input name="ClientRequestModel.Longitude" id="ClientRequestModel.Longitude" type="hidden" value="2222222" />
                        <input name="ClientRequestModel.UserId" id="ClientRequestModel.UserId" type="hidden" value="@Model.Id" />
                    </div>
                    @*<button type="submit" class="btn btn-info btn-default">Искать машину</button>*@
                    <a class="btn btn-info btn-default" style="padding-right: 8px;  color:#fff" href="/carsListPage/" onclick="app.dialog.preloader('Подождите...'); setTimeout(function() { jQuery('form#form_add_client_request').submit() }, 700);">
                        Искать машину
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div id="tab2" class="tab">
        <div>
            <div class="block-title"></div>
            <div class="block" inner="">
                <label asp-for="PhoneNumber"></label>
                <p id="drPhNum" style="display: inline">@Model?.PhoneNumber</p> <a class="btn btn-info btn-default" style="padding-right: 8px;padding-left: 8px" asp-action="UserPhone" asp-route-returnUrl="@ViewBag.returnUrl">
                    <img src="~/images/edit3.png" alt="Изменить номер" title="Изменить номер" height="15" width="20" />
                </a>
                <br />
                <form id="form_add_driver_location" method="post" novalidate="novalidate">
                    <input type="hidden" name="HiddenCarType" id="HiddenCarType" value="@Driver?.CarType" />
                    <div class="form-group">
                        <label>Город:</label>
                        <p>@Driver?.City</p>
                        <label>Марка и модель:</label>
                        <p>@Driver?.CarModel</p>
                        <label>Тип кузова:</label>
                        <p>@Driver?.CarType</p>
                        <label>Год выпуска:</label>
                        <p>@Driver?.CarYearProd</p>
                        <label>Цвет кузова:</label>
                        <p>@Driver?.CarColor</p>
                        <label>Гос. номер:</label>
                        <p>@Driver?.CarNum</p>
                        <label>Серия и номер вод. удостоверения:</label>
                        <p>@Driver?.DrLicense</p>
                        <label>Водительский стаж:</label>
                        <p>@Driver?.DrLFromDate</p>
                        <a class="btn btn-info btn-default" style="padding-right: 8px; color:#fff" asp-action="EditInfo" asp-route-returnUrl="@ViewBag.returnUrl" onclick="app.dialog.preloader('Подождите...');">
                            Редактировать данные
                        </a>
                        @*<button type="submit" class="btn btn-info btn-default">But Начать таксовать</button>*@
                        <a class="btn btn-info btn-default" style="padding-right: 8px;  color:#fff" href="/taxInfoPage/" onclick="pre = app.dialog.preloader('Подождите...'); setTimeout(function() { jQuery('form#form_add_driver_location').submit() }, 700);">                           
                            Начать таксовать
                        </a>
                        <input name="DriverLocationModel.Latitude" id="DriverLocationModel.Latitude" type="hidden" value="77777" />
                        <input name="DriverLocationModel.Longitude" id="DriverLocationModel.Longitude" type="hidden" value="88888" />
                        <input name="DriverLocationModel.UserId" id="DriverLocationModel.UserId" type="hidden" value="@Model.Id" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

