@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@using WebApplication2MVCAuthO.Data
@using WebApplication2MVCAuthO.Models.HomeViewModels
@using WebApplication2MVCAuthO.Services

@model IEnumerable<WebApplication2MVCAuthO.Models.HomeViewModels.DriverLocationModel>

@inject IHttpContextAccessor HttpContextAccessor
@inject ApplicationDbContext DbContext

@{
    ViewData["Title"] = "Drivers";
    var clientRequestId = @HttpContextAccessor.HttpContext.Session.GetString("ClientRequestModelId");
    ClientRequestModel clientRequest = null;

    if (!string.IsNullOrEmpty(clientRequestId))
    {
        clientRequest = await DbContext.ClientRequests.Include(m => m.User)
            .SingleOrDefaultAsync(m => m.Id == clientRequestId);

        foreach (var driverLocation in Model)
        {
            driverLocation.Distance = FuncHelper.Distance(driverLocation.Latitude, driverLocation.Longitude, clientRequest.Latitude, clientRequest.Longitude);
        }

        //var sortedModel = Model.OrderBy(m => m.Distance);
    }
    else
    {
        HttpContextAccessor.HttpContext.Response.Redirect("Home/Error");
    }
}

<h2>Список машин</h2>

<p>
    @HttpContextAccessor.HttpContext.Session.GetString("ClientRequestModelId");
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Р.*
        </th>
        <th>
            Авто (информация)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var locationItem in Model.OrderBy(m => m.Distance))
    {
        var driverItem = await DbContext.Drivers.SingleOrDefaultAsync(m => m.User.Id == locationItem.User.Id);

        <tr>
            <td>
                @FuncHelper.DistanceFormatted(locationItem.Distance)
            </td>
            <td>
                @driverItem?.CarModel год:@driverItem?.CarYearProd
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@locationItem.Id">Детали</a>
                @*   to do - ajax request -
                    <a id="createOrder" href="javascript:void(0)" class="btn btn-info btn-default"
                   data-reqid="@clientRequestId" data-drlocid="@Model.Id" data-url="@Url.Action("Create", "Order")">Заказать</a>*@
            </td>
        </tr>
    }
    <tr>
        <td colspan="3">
            @*<a id="cancelClientRequest" href="javascript:void(0)" class="btn btn-info btn-default"
               data-reqid="@clientRequestId" data-url="@Url.Action("Index", "Home")">Отмена</a>*@            
        </td>
    </tr>  

    </tbody>
</table>

@{
    <script>
        var reqParams = { reqid: "@clientRequestId", url: "/" };
    </script>
}  